*{
    box-sizing: border-box;
}
body{
    background: black;
}
body::before{
    content: "";
    position: absolute;
    opacity: 0.5;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: center;
    margin: 0;
    padding: 0;
    z-index: -1;
    }

header .nav-title img{
    width: 15rem;
}
.box-title{
    color: #fff;
}
.main-box{
    height: 550px;
    background-color: rgba(0, 0, 0, 0.83);
    width: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-150%,0%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #928e8e;
    padding: 4rem;
}
.main-box .input-item{
    border: none;
    background-color: rgb(52, 51, 51);
    padding: 0.8rem;
    width: 19rem;
    font-weight: 700;
    margin-top: 1rem;
    border-radius: 4px;
}
.submit{
    background-color: #E50914;
    color: #fff;
    border: none;
    font-size: 18x;
    padding: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.5s;
}
.submit:hover{
    color: #E50914;
    background-color: #fff;
}
.footer-box{
    display: flex;
    justify-content: space-between;
}
.footer {
    display: flex;
    flex-direction: column;
}
.footer .head-text{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.help{
    text-decoration: none;
    color: #928e8e;
}
.help:hover{
    text-decoration: underline;
}
.link{
    text-decoration: none;
    color: #fff;
    font-weight: 200;
}
.link:hover{
    text-decoration: underline;
}
.link-2{
    color: blue;
    text-decoration: none;
}
.link-2:hover{
    text-decoration: underline;
}