*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
    box-sizing: border-box;
}
body{
    background-color: #a1d1c5;
    margin: 0;
    padding: 0;
}
.main-box{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translate(26%,30%);
    width: 1000px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
    border-radius: 4px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 10px;
}
.contact-info{
    line-height: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
}
.contact-info i{
    color: rgb(24, 24, 150);
    font-size: 25px;
}
.contact-info .title-info{
    font-size: 20px;
}
.contact-info .grey-color{
    color: gray;
}
.contact-details .get-data{
    margin-top: 20px;
    border: none;
    background-color: rgb(205, 209, 231);
    height: 40px;
    align-items: center;
    justify-content: center;
    color: black;
}
.contact-details .submit-contact{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: rgb(24, 24, 150);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
}
.contact-details .title-detail{
    color: rgb(24, 24, 150);
}
